body {
    color: white; 
}

.choice-box {
    display: flex; 
    margin-bottom: 12.8px;
    width: 100%; 
    border-radius: 4px;
    background: blue;  
    font-size: 48px; 
    min-width: 1280px; 
}

.choice-box:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms; 
}

.choice-letter {
    padding: 32px 40px; 
    color: white; 
}

.choice-answer {
    padding: 32px; 
    width: 100%; 
}

.correct {
    background: greenyellow; 
}

.incorrect {
    background: red; 
}

#time-left {
    font-size: 48px;
}

.score-top {
    text-align: center;
    font-size: 32px; 
    padding: 16px; 
}

.score-text {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 640px; 
    }
}