body {
    color: #379683; 
    font-weight: bold;
}

.choice-box {
    display: flex; 
    margin-bottom: 12px;
    width: 100%; 
    border-radius: 4px;
    background: #8EE4AF;  
    font-size: 48px; 
    min-width: 640px; 
}

.choice-box:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms; 
}

.choice-letter {
    padding: 32px 40px; 
    color: white; 
}

.choice-answer {
    padding: 32px; 
    width: 100%; 
}

.correct {
    background: #AFD275; 
}

.incorrect {
    background: #E7717D; 
}

#time-left {
    font-size: 48px;
    margin-top: 45px; 
}

.score-top {
    text-align: center;
    font-size: 32px; 
    padding: 16px; 
}

.score-text {
    text-align: center;
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 32px;
    }
    margin-top: 50px; 
}